<%
var title = 'Laravel Mix Boilerplate for Static Site'
%>

<%- include('/partials/header', { title }) -%>

<div class="js-target">
  <h1><%= title %></h1>
  <div class="js-list">
  </div>
</div>

<%- include('/partials/footer') -%>
